.header-img
{
    width: 100%;
    height: 205px;
}
.about
{
    color: rgb(245, 209, 7);
    height: 270px;
}
.skills
{
    height: 270px;
}
.skills-img
{
    height: 270px;
}
.about-img
{
    height: 270px;
}
body {
    background-image: url('/images/bodybg.jpg'); 
    background-size: cover;
    background-position: center;
  }
  
  