.header-img
{
    width: 100%;
    height: 205px;
}
.about
{
    color: rgb(253, 253, 253);
    height: 350px;
    width: 430px;
}
.skills
{
    height: 350px;
    width: 430px;
    
}
.skills-img
{
    height: 350px;
    width: 430px;
    border-radius: 20px;
}
.about-img
{
    height: 350px;
    border-radius: 20px;
    width: 430px;
}
/* body {
    background-image: url('/images/bodybg.jpg'); 
    background-size: cover;
    background-position: center;
  } */
  
  